.menuContainer {
    display: flex;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.cssHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    width: 100%;
    padding-top: 1.25rem;
    background: #fff;
    }

    .cssNavbarDiv {
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 9999px;
      border-width: 1px;
      border-color: rgb(228 228 231);
      padding: 0.625rem;
     }

     .cssNavText {
        color: rgb(82 82 91);
     }